.option{
    background-color: #3c0870;
    border-radius: .5tem;
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    opacity: .9;
    transition: .4s;

}

.option:hover{
    opacity: .3;
}

#options-container .option p {
    margin-bottom: 0;
}

.correct {
    background-color: #0bfc03;
    font-weight: bold;
}

.wrong {
    background-color: #3c0e70;
    opacity: 0.4;

}